<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
      /*.bar-header
      {
          
    background-image: url('img/bg.jpg')!important;background-repeat:no-repeat!important; background-size:100%!important;
    height: 80px!important;
    color:#13234c!important;
      }*/

      .red{
        color : #D83426 !important ;
      }

      .green{

        color : green !important ;
      }

      .black{
        color : black !important ;
      }
      
      /*.has-header
      {
          top:85px!important;
      }*/
      .bar .title{
          height: 100%!important;
      }
      .calorybg
      {
          background-image: url('img/bg.png');background-repeat:no-repeat; background-size:100%
      }
      #loginForm {
        margin: 120px 0 0;
      }
      .trans{
          opacity: 0.80;
      }

      .ficon{
        width: 30%;
      }

      .footIcon a{
        text-align: center;
        width: 25%;
      }

      /* css start */
      /*.signup-btn {
        background: #00cc00 !important;
        color: #fff !important;
      }*/
      .submit-btn{
        background: #000099 !important;
        color: #fff !important;
      }
      .has-header {
        /*background: #f9f9f9; top: 75px !important;*/
        background-image: url('img/bg.png');background-repeat:no-repeat; background-size:100%; top: 75px !important;        
      }
      .has-home {       
        background-image: url('img/Slide1.jpg') !important;
        background-repeat:repeat; background-size:100%; 
      }

      .btnRight{
        position: absolute;
        right: 23px;
        top: 31px;
      }

      .bar-header { background: #003399; height: 80px!important;
          color:#000099!important;  }
          #loginForm .list label {
        margin: 0;
      }

      .home{
        background-color:#000;
        margin: 0px 0px 0px 50px;
        width:70%;
        color:red;
        border-style:solid;
        border-width:3px;
        border-color:#405D6D;
        text-align:center;
        font-size: 20px;
      }
      .body-content-text { color: #fff; }
      h4{ color: #fff !important; }
    </style>

   <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
   <link rel="stylesheet" href="css/jquery-ui.css">
  <!-- <script src="http://code.jquery.com/jquery-1.10.2.js"></script> -->
  <script src="js/jquery-1.10.2.js"></script>
  <!--<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
  <script src="js/jquery-ui.js"></script>
       
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="cordova.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- scripts here -->
    
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="lib/ionic/js/ionic-close-popup.js"></script>
  
  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
    <ion-nav-view></ion-nav-view>
  <div>
    <div>
        <!--<ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
        </ion-nav-bar> -->
        
    </div>
</div>

<script id="page1.html" type="text/ng-template">
  
  <div style="margin:0 auto;text-align:center; background; background-image: url('img/bg.png'); background-repeat:no-repeat; background-size:100% ">    
    <img src="img/logo.png"  style="margin-top:30%; max-width: 80%; "/>
    <div style="width:90%;margin:80px auto 0;text-align:center; padding-left:5%;padding-right:5%">
      <a href="#/signup" class="button button-energized button-block icon-left new-user">New User</a>
      <br />
      <a href="#/login" class="button button-energized button-block icon-left new-user">Login</a>
    </div>
  </div>

</script>

<script id="page2.html" type="text/ng-template">
  <ion-view title="Login" class="calorybg">
    <ion-content padding="true" class="">  

    <ion-header-bar align-title="center" class="bar-energized">
    <div class="buttons">
      <!--<button class="button-icon icon ion-ios7-arrow-back" ng-click="myGoBack()"></button>-->
    </div>
    <h1 class="title">Login</h1>
  </ion-header-bar>
      
      <form id="loginForm" name="loginForm"> 
        <ion-list>
          <label class="item item-input" >
            <input type="email" id="email" name="email" placeholder="Email" ng-model="loginData.email">
          </label>
          <br/>
          
          <label class="item item-input" >
            <input type="password" id="password" name="password" placeholder="Password" ng-model="loginData.password">
          </label>
        </ion-list>
            
        <div class="spacer" style="height: 40px;"></div>
        <button class="button button-energized button-block signup-btn new-user" ng-click="login()">Log in</button>
        <a href="#/forgotpassword" class="button button-energized button-clear button-block " style="color:#36C4EE;font-weight:normal">Forgot password?</a>
        <div style="text-align:center;color:#ccc;font-weight:normal">OR<div>
        <a href="#/signup" class="button button-energized button-clear button-block " style="color:#36C4EE;font-weight:normal">Create an account</a>
      </form>
    </ion-content>

</script>



<script id="page3.html" type="text/ng-template"> 

  <ion-header-bar align-title="center" class="bar-energized">
    <div class="buttons">
      <button class="button-icon icon ion-ios7-arrow-back" ng-click="myGoBack()"></button>
    </div>
    <h1 class="title">New User</h1>
  </ion-header-bar>


  <ion-content padding="true" scroll="true" class="has-header">
    <form>
      <ion-list>
        <label class="item item-input">
          <input type="text" placeholder="Enter First Name" ng-model="signup.firstName">
        </label>
        
        <label class="item item-input">
          <input type="text" placeholder="Enter Last Name" ng-model="signup.lastName">
        </label>                
        
        <label class="item item-input">
          <input type="text" placeholder="Enter email id" ng-model="signup.email">
        </label>
        
        <label class="item item-select">
          <!-- <span class="input-label">Country Code</span> -->
            <select id="countryCode" class="input-dropdwn" ng-model="signup.countrycode"></select>
             <option>Country Code</option> 
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Enter mobile number" ng-model="signup.mobile">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Enter date of birth" onfocus="(this.type='date')" ng-model="signup.dob" id="date">
        </label>

        <!-- <label class="item item-input">
          <input type="text" placeholder="Enter loyality card type" ng-model="signup.loyalityCardType">
        </label> -->

        <label class="item item-select">
          <span class="input-label">Loyality Card Type</span>
          <select ng-model="signup.loyalityCardType" class="input-dropdwn">
            <option ng-value="1">Gold Card</option>
            <option ng-value="2">Silver Card</option>
            <option ng-value="3">Club Seven</option>            
          </select>
        </label>

        <label class="item item-input">
          <input type="number" placeholder="Enter loyality card number" ng-model="signup.loyalityCardNumber">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Enter Address" ng-model="signup.address">
        </label>                

        <!-- <label class="item item-input ">
          <input type="text" placeholder="Enter City" ng-model="signup.city">
        </label> -->

        <label class="item item-input">
          <input type="password" placeholder="Enter Password" ng-model="signup.password">
        </label>
        
        <label class="item item-input">
          <input type="password" placeholder="Enter Confirm Password" ng-model="signup.cpassword">
        </label>
      </ion-list>
      <button class="button button-energized button-block signup-btn new-user" ng-click="CreateUser()">Sign up</button>
    </form>
  </ion-content> 

</script>

<script id="mainContainer.html" type="text/ng-template">
  <ion-side-menus enable-menu-with-back-views="true">
    <ion-pane ion-side-menu-content>
      <ion-nav-view name="main"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" width="210" >
    <!-- <ion-side-menu side="left" is-enabled="true" width="250" class="menu menu-left" style="width: 275px; z-index: 0;"> --> 

      <ion-content has-header="true" style="background-color:#000;color:#C7185B;">        

        <ul class="list">
          <a menu-close ui-sref="main.page4" class="item" ng-click="" style="background-color:#060503 ;color:#775F32;border:0px; font-size: 20px;"><u>Home</u></a>
          <a menu-close ui-sref="#" class="item" ng-click="sendEmail()" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">Email</a>
          <a menu-close ui-sref="#" class="item" ng-click="clicked()" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">Chat</a>
          <a menu-close ui-sref="main.page11" class="item" ng-click="" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">Edit Profile</a>                    
          <a menu-close ui-sref="main.page10" class="item" ng-click="" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">Change Password</a>
          <a menu-close ui-sref="main.about" class="item" ng-click="" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">About Us</a>
          <a menu-close ui-sref="main.contact" class="item" ng-click="" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">Contact Us</a>                    
          <a menu-close ui-sref="page2" class="item" ng-click="logOut()" style="background-color:#060503;color:#775F32;border:0px; font-size: 20px;">Log Out</a>
        </ul>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</script>

<script id="page4.html" type="text/ng-template">

<ion-header-bar align-title="center" class="bar-energized" >
<div class="buttons">
   <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
</div>
<h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>

</ion-header-bar>
    <ion-content padding="true" scroll="true" class="has-home">      

      <ion-list>	

        <br />
        <a menu-close ui-sref="main.intro" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Intro</a>
        <br />
        <a menu-close ui-sref="main.slots" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Slots</a>
        <br />
        <a menu-close ui-sref="main.casino" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Casino</a>
        <br />
        <a menu-close ui-sref="main.mercury" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Mercury Bar</a>
        <br />
        <a menu-close ui-sref="main.loyalty" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Loyalty Club</a>
        <br />
        <a menu-close ui-sref="main.events" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Events</a>
        <br />
        <a menu-close ui-sref="main.gamming" class="item" ng-click="" style="background-color:#000;margin: 0px 0px 0px 50px;width:70%;color:#775F32;border-style:solid;border-width:3px;border-color:#405D6D;text-align:center;font-size: 20px;">Gaming</a>
        <br />        
      </ion-list>
    </ion-content>

    <ion-footer-bar style="background-color: #000;" class="footIcon">
      <a onclick="javascript:window.open('https://www.facebook.com/grankaz.sc/', '_system');">
        <img class="ficon" src="img/facebook.png">
      </a>
      <a onclick="javascript:window.open('https://twitter.com/grankaz', '_system');">
        <img class="ficon" src="img/twitter.png">
      </a>
      <a onclick="javascript:window.open('http://www.instagram.com/gran_kaz', '_system');">
        <img class="ficon" src="img/instagram.png">
      </a>
      <a onclick="javascript:window.open('https://www.youtube.com/watch?v=9nOy4yRk-p0', '_system');">
        <img class="ficon" src="img/youTube.png">
      </a>
      <!-- <a href="http://twitter.com/bgardner"><i class="icon ion-social-twitter"></i></a>      
      <a href="http://instagram.com/bgardner"><i class="icon ion-social-instagram-outline"></i></a>       -->
  </ion-footer-bar>
       
</script>

<script id="page5.html" type="text/ng-template">
 <ion-header-bar align-title="center" class="bar-energized">
    <div class="buttons">
      <button class="button-icon icon ion-ios7-arrow-back" ng-click="myGoBack()"></button>
    </div>
    <h1 class="title">Forgot Password</h1>
  </ion-header-bar>
       <div style="margin:0 auto;text-align:center; background; background-image: url('img/bg.jpg');background-repeat:no-repeat; background-size:100%"></div> 
    <ion-content>
      <div style="width:90%;margin:0 auto;text-align:center; padding-left:5%;padding-right:5%">
        <form>
          <label class="item item-input">
            <span class="input-label">E-mail</span>
            <input  id= "forgetemail" type="text" ng-model="forgetpassword.email" placeholder="abc@abc.com">
          </label>
          <button class="button button-energized button-block new-user" ng-click="forgetPassword()">Submit</button>
        </form>
      </div>
    </ion-content>
</script>


<script id="intro.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>            
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>    
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <h4>Intro</h4>
      <img src="img/intro.jpg" style="width: 100%">
    <ul class="body-content-text">
      <li><strong>Greater Gaming Comfort.</strong></li>
      <p>
        Low Minimum Bets! With the widest range of denomination - from 1c to R100. Traditional reel slot machines and the latest multi-line video slots.
      </p>

      <li><strong>Experience The Magic</strong></li>
      <p>
        Modern entertainment centre for discerning slot players who enjoy the relaxation of gaming in a pleasant, attractive and spacious atmosphere.
      </p>

      <li><strong>Regular Live Entertainment</strong></li>
      <p>
        An exciting and lively bar area has large screen television featuring the latest televised sporting events and provides regular live entertainment.
      </p>
    </ul>
  </ion-content>
</script>

<script id="slots.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
  <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div> 
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <h4>Slots</h4>
      <img src="img/slot.jpg" style="width: 100%">
    
      <h5><strong>Why Gaming is Better at Grankaz ?</strong></h5>
      <ul class="body-content-text">
        <li>
          The Gran Kaz was conceptualized and created in 2014 to offer the over 18’s an updated and modern entertainment center for discerning slot players who enjoy the relaxation of gaming in a pleasant, attractive and spacious atmosphere
        </li>
        <br>
        <li>
          Offering 150 of the latest most technologically advanced slot machines in a visually exciting, spacious building, climate controlled with comfortable seating gives the Gran Kaz a distinctive position above competitors.
        </li>
        <br>
        <li>
          Gran Kaz offers the convenience of smart cashless gaming creating more winning opportunities. No queues, no fuss, just sheer gaming enjoyment. Clean Hands – No more grubby hands from coins. Gran Kaz provides generous spacing between gaming positions affording guests greater gaming comfort
        </li>
        <br>
        <li>
          <p><strong>Most Popular Games</strong></p>
          <p>
            RED EYE NICKELS, SIRENS, TREASURE OF TROY, DOUBLE NUTTY JACKPOT, SIBERIAN STORM, GOLDEN GODDESS, SUMATRAN STORM, CASH COVE, RICHIE ROOSTER, BOMBAY, BREAK THE BANK, DOUBLE JACKPOT, STINKIN RICH, MAYAN RICHES.
          </p>
        </li>
        <br>
        <li>
          <ul class="body-content-text">
            <h5><strong>Our services include:</strong></h5>
            <li>• Timeline AVP</li>
            <li>• G-enex wide video</li>
            <li>• Innovator 3 reel</li>
            <li>• SMLD</li>
            <li>• SAVP</li>
            <li>• G23</li>
            <li>• G23 LCD</li>
          </ul>
        </li>
      </ul>      
  </ion-content>
</script>

<script id="casino.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <h4>Casino</h4>
      <img src="img/casino.jpg" style="width: 100%">      
    <ul class="body-content-text">
      <li>
        Here's where you can experience the magic of a world class casino, With a "Gold Standard Of Service".
      </li>
      <br>
      <li>
        You can play on 4 different Roulette  Tables, 4 different Black Jack Tables and 2 big Poker Tables where you can place your bet.
      </li>
      <br>
      <li>
        Also you can enjoy Soft Drinks, Hard Drinks and Snakes inside casino bar.
      </li>
      <br>
      <li>
        <strong>
          Openning Hours:
        </strong>
        <br>
      </li>
        <ul>
          <li>Open on Sundays to Thursdays</li>
          <li>FROM 2.00 PM TO 2.00 AM</li>
          <li>FRIDAYS AND SATURDAYS</li>
          <li>FROM 2.00 PM TO 4.00 AM </li>
        </ul>
    </ul>
   
  </ion-content>
</script>

<script id="mercury.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <h4>Mercury Bar</h4>
      <img src="img/mercury.jpg" style="width: 100%">
    <ul class="body-content-text">
      <li>
        <p>
          One of the largest bars in Seychelles offers the most competitive prices on all drinks including signature cocktails, with a small but unique bar menu for snacks and easy bites
        </p>
      </li>

      <li>
        <p>
          An exciting and lively bar area has large screen television featuring the latest televised sporting events and provides regular live entertainment.
        </p>
      </li>
    </ul>
   
  </ion-content>
</script>

<script id="loyalty.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <h4>Loyalty Club</h4>
      <img src="img/loyalty_club.jpg" style="width: 100%">
    <ul class="body-content-text">
      <li><strong>Gold and Silver Card</strong></li>
      <p>
        Gran Kaz Rewards Program - The First and only Casino with a 3 tier Reward Program for loyal Players in Seychelles.
        Members enjoy exclusive privileges that extend beyond gaming.
        The Membership entitles you to a wealth of exciting freebies, discounts, rewards and other privileges.
        Each Membership category requires specific status points and provides corresponding number of privileges.
      </p>

      <li><strong>Here's How you can EARN POINTS :</strong></li>
      <p>
        Simply use your card whenever you play at Gran Kaz Entertainment Center. Enjoy your stay at Gran Kaz Entertainment Center and all the rewards you'll receive.
        Contact Gran Kaz if you have questions about the membership program and the sign up to start your way up the ladder.
        Get your Club Seven, Silver or Gold Membership today! Each one opening up a wealth of rewarding experiences for members.        
      </p>

      <li><strong>Club Seven VIP Card</strong></li>
      <p>
        Our Club Seven VIP card is offered simply by registering with us. No charge and no deposit necessary. Just Ask for a Club Seven VIP membership and complete the application form at the   cash desk, then you can then redeem your cash from the Cash Desk or go away with the credit on the card ready for your next visit. When you return, continue where you left off with the same credit as before. Your cash balance is secure and safe on your card.
      </p>

      <li><strong>Day Card</strong></li>
      <p>
        Our Day card is offered direct to the customer from the Cash Desk no forms, necessary. A deposit of Rs25.00 will be taken from the first transaction, which is refundable on return of the card. Just Ask for a day card at the cash desk, give the cashier the amount of cash you want to play with and they will place the amount on the card for you to play (holding SR25.00 deposit).
      </p>
      <p>
        To start playing, the machine will automatically transfer credits to the machine and you can start play.
      </p>
      <p>
        (Terms and Conditions Apply). Give the cashier the amount of cash you want to play with and they will place the amount on the card for you to play.
      </p>
    </ul>
  </ion-content>
</script>

<script id="events.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <h4>Events</h4>
    <img src="img/events.jpg" style="width: 100%">
    <ul class="body-content-text">
      <li>
        <strong>HAPPY HOURS:</strong>
      </li>
    
      <p>
        Play during the HAPPY HOURS and receive TRIPLE points.
        <ul>
          <li>Wednesday 06.00 PM to 11:00 PM</li>
          <li>Friday 04:00 PM to 08:00 PM</li>
          <li>Saturday 04:00 PM to 08:00 PM</li>
          <li>Sunday 03:00 PM to 06:00 PM</li>
        </ul>
      </p>

      <li>
        <strong>HAPPY BIRTHDAY - Lets Celebrate</strong>
      </li>

      <ul>
        <li>Club Seven VIP members receives SR 500 credits</li>
      </ul>    

      <br>
      <li>
        <strong>WAKE UP & WIN :: Early Bird Special</strong>
      </li>
      
      <p>For Predetermind amount of POINTS earned customers will receive SR 50.
        <ul>
          </li>10.00AM TO 12.00PM</ll>
        </ul>
      </p>
    </ul>

  </ion-content>
</script>

<script id="gamming.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    
    <h4>Gaming</h4>    
    <img src="img/gamming.jpg" style="width: 100%">
    <ul class="body-content-text">
      <li>
        Recreational gaming is low risk gaming. It involves responsible spending and setting of personal guidelines to govern your behaviour. Managing gaming expenditure ensures both enjoyment and peace of mind. Participate in achieving this goal by setting sensible limit to your gaming activities.
      </li>

      <br>
      <p>
        <strong>Characteristics of Responsible Gaming</strong>

        <li>
          Low-risk gaming has pre-determined acceptable limit for losses. Any money spent on gaming needs to be considered an entertainment cost. This will vary depending on your income and expenses.
        </li>
        <br>
        <li>
          Low-risk gaming is recreational. The benefits of gaming are found in the excitement of taking a chance and the thrill of winning. Financial gain should not be the main motivation for gaming. Gaming is not going to get you out of debt.
        </li>
      </p>
    </ul>

  </ion-content>
</script>

<script id="about.html" type="text/ng-template">
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    </div>
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    
    <h4>About us</h4>    
    <h5><strong><center>Gran Kaz Entertainment Center</center></strong></h5>
    <ul class="body-content-text">
    <p>
      The Gran Kaz was conceptualized and created in 2014 to offer the over 18’s an updated and modern entertainment centre for discerning slot players who enjoy the relaxation of gaming in a pleasant, attractive and spacious atmosphere.
    </p>

    <p>
      Offering 149 of the latest most technologically advanced slot machines in a visually exciting, spacious building, climate controlled with comfortable seating gives the Gran Kaz a distinctive position above competitors.
    </p>

    <p>
      Gran Kaz offers the convenience of smart cashless gaming creating more winning opportunities. No queues, no fuss, just sheer 
      gaming enjoyment. Clean Hands – No more grubby hands from coins. Gran Kaz provides generous spacing between gaming positions affording guests greater gaming comfort.
    </p>

    <p>
      Low Minimum Bets! With the widest range of denomination - from 1c to R100. Traditional reel slot machines and the latest multi-line video slots.
    </p>        
    </ul>
  </ion-content>
</script>

<script id="contact.html" type="text/ng-template">

  <ion-header-bar align-title="center" class="bar-energized" >
    
    <div class="buttons">

      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
      <a menu-close ui-sref="main.page4" class="button-icon icon ion-ios7-arrow-back btnRight" ng-click="myBack()"></a>
    
    </div>

    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>

  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">    
    
    <h4>Contact us</h4>      
    
    <form>
      
      <ion-list>
        
        <label class="item item-input ">
          <input type="text" placeholder="Enter Name" ng-model="contact.name">
        </label>
        
        <label class="item item-input">
          <input type="text" placeholder="Enter email id" ng-model="contact.email">
        </label>

        <label class="item item-input">
          <textarea id="feedback" name="feedback" rows="7" cols="30" placeholder="Enter your feedback" ng-model="contact.feedback"></textarea>
        </label>
        
      </ion-list>
      <button class="button button-energized button-block signup-btn new-user" ng-click="ContactUs()">Submit</button>      
    </form>
  
    <ul class="body-content-text">
    <p>
      Mercury House, Francis Rachel Street,
      Victoria - Seychelles
    </p>
    <p>
      info@grankaz.sc  4303780
    </p>
    </ul>
  </ion-content>  
</script>

<script id="page10.html" type="text/ng-template">
 <ion-header-bar align-title="center" class="bar-energized" >
<div class="buttons">
   <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
</div>
<h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>

</ion-header-bar>
    <ion-content padding="true" scroll="true" class="has-header">
     <h4>Change Password</h4>
     <form>
        <label class="item item-input">
          <input  id= "changeemail" disabled type="email" ng-model="changepassword.email" placeholder="abc@abc.com">
        </label>
        
        <label class="item item-input">
          <input  id= "changeoldpass" type="password" ng-model="changepassword.oldPass" placeholder="Enter old password">
        </label>
         
        <label class="item item-input">
          <input  id= "changenewpass" type="password" ng-model="changepassword.newPass" placeholder="Enter new password">
        </label>
        <button class="button button-energized button-block signup-btn new-user" ng-click="changePassword()">Submit</button>
      </form>
    </ion-content>
  <ion-footer-bar>   
  </ion-footer-bar>
</script>

<script id="page11.html" type="text/ng-template">  
  <ion-header-bar align-title="center" class="bar-energized" >
    <div class="buttons">
      <button  menu-toggle="left" class="button button-icon icon ion-navicon mymenu" style="z-index:9999; padding-top:10px; padding-left:15px;"></button>
    </div>    
    <h1 class="title"><img src='img/logo.png'  style=' height : 60px; '/></h1>
  </ion-header-bar>
  
  <ion-content padding="true" scroll="true" class="has-header">
    <form>
      <ion-list>
        
        <label class="item item-input ">
          <input type="text" placeholder="Enter First Name" ng-model="edit.firstName">
        </label>

        <label class="item item-input ">
          <input type="text" placeholder="Enter Last Name" ng-model="edit.lastName">
        </label>  

        <!-- <label class="item item-input">
          <input type="date" placeholder="Date of Birth" ng-model="edit.dob">
        </label> -->

        <label class="item item-input">
          <input type="text" placeholder="Enter date of birth" onfocus="(this.type='date')" ng-model="edit.dob" id="date">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Enter email id" ng-model="edit.email" disabled="disabled">
        </label>


        <label class="item item-input">
          <input type="text" placeholder="Enter country code" ng-model="edit.countrycode" disabled="disabled">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Enter mobile number" ng-model="edit.mobile" disabled="disabled">
        </label>


        <!-- <label class="item item-input">
          <input type="text" placeholder="Enter loyality card type" ng-model="edit.loyalityCardType">
        </label> -->

        <label class="item item-select">
          <span class="input-label">Loyality Card Type</span>
          <select data-ng-options="o.name for o in loyalityCardTypeOpts" ng-model="edit.loyalityCardType">
            <option ng-value="1">Gold Card</option>
            <option ng-value="2">Silver Card</option>
            <option ng-value="3">Club Seven</option>            
          </select>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Enter loyality card number" ng-model="edit.loyalityCardNumber">
        </label>

        <label class="item item-input ">
          <input type="text" placeholder="Enter Address" ng-model="edit.address">
        </label>

        <!-- <label class="item item-input ">
          <input type="text" placeholder="Enter City" ng-model="edit.city">
        </label> -->
      </ion-list>    
      <button class="button button-energized button-block signup-btn new-user" ng-click="editUser()">Save Profile</button>      
    </form>
  </ion-content>  

</script>

</script>
<style>
    
    h4{
        color:#182d60;
        text-align: center;
        font-size: 24px;
    }
    h4 span{
        color:#D83426;
    }
    body{
        color:#5B7E95;
    }
    .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated
    {
        color:#5B7E95!important;
    }
    .activer{
        background-color:#D83426!important;
    }
</style>
  </body>
</html>