/* Empty. Add your own CSS if you like */
.trans
{
    opacity: 0.60;
    text-align: center;
}

.add-dishes {
	background: url('../img/adddishes.png') no-repeat center;
	background-size: contain;
    border: none !important;
}
